.fixed-bg {
    background-image: url("../assets/homepage.jpg");
    min-height: 700px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .move-bg {
    background-image: url("../assets/homepage.jpg");
    min-height: 700px;
  }

  <div
          style={{
            backgroundImage: `url(${homepage})`,
            minHeight: "700px",
            backgroundAttachment: "fixed",
            backgroundRepeat: "no-repeat",
            backgroundSize: "cover",
            width: "auto",
          }}
        />